.footer_container {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
footer {
  width: 90%;
  background: #fff4e7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 80px;
  margin-bottom: 150px;
}
footer p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 20px;
  color: #424242;
}
