* {
  margin: 0%;
}
.head_container {
  background: rgba(255, 144, 14, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav,
.banner_text,
.banner_img {
  width: 90%;
}
/* -----------------Navber Start ---------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
nav h2 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.375rem;
}
nav ul {
  display: flex;
  justify-content: space-around;
  column-gap: 1.875rem;
}
nav ul li {
  list-style-type: none;
  line-height: 1.6rem;
}
li a {
  color: #424242;
  font-weight: 500;
  text-decoration: none;
}
/* -----------------Navber End ---------------------*/

/* -----------------Banner Start ---------------------*/
.banner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.text > h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.75rem;
  color: #131313;
  margin-bottom: 15px;
}
.text > p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  color: #727272;
}
.banner_text > button {
  width: 11.25rem;
  height: 4rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 0em;
  background-color: #FF900E;
  margin-top: 30px;
  margin-bottom: 40px;
}
.banner_img{
    border-radius: 8px;
    height: 100%;
    padding-bottom: 40px;
}
/* -----------------Banner End ---------------------*/