@media  screen and (max-width:576px) {
    /* ---------------------Top-Section--------------------- */
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
     /* ---------------------Top-Section End--------------------- */
}